.container3 {
    padding-top: 18px;
}

.form-grid {
  display: grid;
  grid-template-columns: 150px auto; /* Label column, Input column */
  gap: 20px 20px; /* Row gap, column gap */
  max-width: 400px;
}

.form-grid label {
  padding-top: 10px;
}

.form-grid input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-grid textarea {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}


.form-grid input:focus,
.form-grid textarea:focus {
  border-color: rgba(0, 0, 0, 0.6); /* Slightly darker on focus */
  outline: none;
}

.button-group {
    margin-top: 20px;
}

.btn1 {
    width: 55px;
    height: 28px;
    background-color: #0078D7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn2 {
    width: 65px;
    height: 28px;
    margin-left: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-group label {
    padding-top: 10px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
  max-width: 350px;
}

.item-name {
  flex: 1;              /* take remaining space */
  min-width: 200px;     /* fix width for alignment */
}

.btn-move {
  background: #0078D7;
  color: white;
  border: none;
  width: 55px;
  height: 28px;
  border-radius: 5px;
  cursor: pointer;
}

