.table {
    width: 100%;
}

th {
    text-align: left;
}

.d-flex{
    padding-left: 300px;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

button {
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
}

/* Dropdown container */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown menu */
.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1000;
    top: 35px;
}

.custom-dropdown-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: inherit; 
    font-weight: normal;
}

.custom-dropdown-menu a:hover {
    background-color: #f1f1f1;
}
/* Show when active */
.custom-dropdown.show .custom-dropdown-menu {
    display: block;
}

.calendar-icon {
  cursor: pointer;
}

.date-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.date-menu label {
  font-size: 14px;
  font-weight: normal;
}

.date-menu input {
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.date-menu button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #0078D7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
