.table {
    width: 100%;
}

th {
    text-align: left;
}

.d-flex{
    padding-left: 300px;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

button {
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
}

/* Dropdown container */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown menu */
.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1000;
    top: 35px;
}

.custom-dropdown-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: inherit; 
    font-weight: normal;
}

.custom-dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Show when active */
.custom-dropdown.show .custom-dropdown-menu {
    display: block;
}

