.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-actions i {
  font-size: 1.2rem;
  margin-left: 8px;
  cursor: pointer;
}

.item-detail-table td {
  padding: 10px;
}

.item-detail-table th {
  text-align: left;
  width: 180px;
  padding: 10px;
}

.item-detail-container {
  display: flex;
  gap: 20px;
  align-items: flex-start; /* aligns top */
}

.item-image img {
  max-width: 250px;
}

.item-info {
  flex: 1; /* table takes remaining space */
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  text-align: center;
}

.modal-box input {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-box input:focus {
  border-color: rgba(0, 0, 0, 0.6); /* Slightly darker on focus */
  outline: none;
}

.modal-box button {
    background: #0078D7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 65px;
    height: 28px;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
}
.close-btn:hover {
  color: #000;
}