.table {
    width: 100%;
}

th {
    text-align: left;
}

.d-flex{
    padding-left: 300px;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

button {
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
}
