#dateTime {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.container4 {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 5px;
  margin-left: 255px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chart-box {
  padding-left: 70px;
}

.data {
  padding-left: 50px;
}

/* Modal background overlay */
#notificationModal {
  display: none;
  position: fixed;
  top: 140px;
  right: 30px;
  width: 320px;
  max-height: 400px; /* Limit height */
  overflow-y: auto; /* Allow scrolling */
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  z-index: 9999;
  padding-right: 12px;
}

/* Smoother scrollbar */
#notificationModal::-webkit-scrollbar {
  width: 6px;
}
#notificationModal::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 3px;
}
#notificationModal::-webkit-scrollbar-thumb:hover {
  background: #888;
}