.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-detail-table td {
  padding: 10px;
}

.item-detail-table th {
  text-align: left;
  width: 180px;
  padding: 10px;
}

.item-detail-container {
  display: flex;
  gap: 20px;
  align-items: flex-start; /* aligns top */
}

.item-image img {
  max-width: 250px;
}

.item-info {
  flex: 1; /* table takes remaining space */
}