.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions i {
  font-size: 1.2rem;
  margin-left: 8px;
  cursor: pointer;
}

.user-detail-table td {
  padding: 10px;
}

.user-detail-table th {
  text-align: left;
  width: 180px;
  padding: 10px;
}

