<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" type="image/jpeg" href="/images/favicon.jpg">
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form action="/forgot-password" method="POST">
            <div class="form-group">
                <label>Username</label>
                <input type="username" name="username" required />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" required />
            </div>
                <button type="submit" class="login-btn">Send Request</button>
        </form>
        <div class="forgot-password">
             <a href="mailto:tanzining0109@gmail.com?subject=Forgot%20Username%20Request">Forgot Username? Please email manager your information.</a>
        </div>
    </div>
</body>